* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 5rem;
    background-color: white;
    text-align: center;
    font-family: 'Anton SC', sans-serif;
    border: black solid;
}


/* utilities */

header {
    background-color:rgba(255, 255, 255, 0.7);
    position: relative;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 600;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 50px;

}

footer {
    background-color:rgba(255, 255, 255, 0.7);
    position: relative;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 50px;

}

.container {
   /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* max-width: 80rem; */
    padding: 2rem;

}

#welcome>h1 {
    border: 0.3rem solid black;
}

#welcome {

    width: 100%;
    max-width: 40rem;

}

body {
    background: url('../images/beersmall.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Anton SC', sans-serif;
}

.welcome-container {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0 0.5rem;
    font-size: 1rem;
    border: 0.2rem solid black;
    border-radius: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.7);
}
.welcome-container:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem 0 rgba(63, 44, 2, 0.767);
    transform: translateY(-0.5rem);
    transition: transform 500ms;
}


.intro-btn {

    font-size: 2rem;
    text-decoration: none;
    padding: 0;
    text-align: center;
    width: 10rem;
    margin-bottom: 0;
    color: rgb(15, 17, 17);

}


#question {
    background-color: rgba(255, 255, 255, 0.8);
    border: black solid;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    font-family: 'Anton SC', sans-serif;
    }


.choice-container {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 1rem 0;
    width: 100%;
    height: 3rem;
    line-height: 2rem;
    font-size: 1rem;
    border: 0.1rem solid black;
    background-color: rgba(255, 255, 255, 0.5);
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(63, 44, 2, 0.767);
    transform: translateY(-.5rem);
    transition: transform 500ms;

}

.choice-prefix {
    padding: 0 2.5rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(250, 249, 249);
}

.choice-text {
    padding: 0 1rem;
    width: 100%;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}


#finalP {
    display: flex;
    justify-content:center;
    text-align: center;
    padding-left: 2rem;
    font-size: 2rem;
    
}

#finalP > span {
    padding-left: 1.5rem;
}

#finalBtn {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    color: black;
    margin: 2rem 0.5rem;
    font-size: 2rem;
    border : 0.2rem solid black;
    border-radius: 25px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);

}

#finalBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.5rem 2.5rem 0 rgba(63, 44, 2, 0.767);
    transform: translateY(-0.5rem);
    transition: transform 500ms;
}

#end {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0 1rem;

}

@media(min-width: 600px) {

    body {
        background-image: url(../images/beer-4131737_1280.png);
        background-color: aqua;
    }

    
    .choice-container {
        font-size: 1.8rem;
    }


}



