* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
    /* utilities */

.container {
    width: 100vw;
  height: 100vh;
    background: rgb(238, 196, 176);
    display: flex;
       justify-content: center;
    align-items: center;
   
}

.btn {
    font-size: 1rem;
    padding: 1rem; 
    width: 20rem;
    text-align: center;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
    color: rgb(15, 17, 17);
    background-color: rgb(231, 107, 24);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(63, 44, 2, 0.767);
    transform: translateY(-1rem);
    transition: transform 1500ms;
}

.choice-container {
    display: flex;
    margin: 1rem;
    width: 100%;
    font-size: 2rem;
    border: 0.1rem solid black;
    background-color: aqua;
}



